@using SitecoreSoftServe.Feature.Navigations.Common
@using SitecoreSoftServe.Feature.Navigations.Models.FooterModels

@model MainFooterSocialMediaModel

<div class="single-footer-widget">
    <div class="footer-logo">
        <a href="@Model.ImageLink">
            @Html.Sitecore().Field(FooterTemplates.SocialMedias.ImageUrl.ToString(), Model.Item)
        </a>
    </div>
    <p>
        @Html.Sitecore().Field(FooterTemplates.SocialMedias.Description.ToString(), Model.Item)
    </p>
    <div class="social-icons">
        <a href="@Model.FacebookLink"><i class="zmdi zmdi-facebook"></i></a>
        <a href="@Model.RssLink"><i class="zmdi zmdi-rss"></i></a>
        <a href="@Model.GoogleLink"><i class="zmdi zmdi-google-plus"></i></a>
        <a href="@Model.PinterestLink"><i class="zmdi zmdi-pinterest"></i></a>
        <a href="@Model.InstagramLink"><i class="zmdi zmdi-instagram"></i></a>
    </div>
</div>

@*<div class="col-lg-3 col-md-6">
    <div class="single-footer-widget">
        <div class="footer-logo">
            <a href="index.html"><img src="img/logo/footer.png" alt=""></a>
        </div>
        <p>There are many variations of passg of Lorem Ipsum available, but thmajority have suffered altem, </p>
        <div class="social-icons">
            <a href="#"><i class="zmdi zmdi-facebook"></i></a>
            <a href="#"><i class="zmdi zmdi-rss"></i></a>
            <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
            <a href="#"><i class="zmdi zmdi-pinterest"></i></a>
            <a href="#"><i class="zmdi zmdi-instagram"></i></a>
        </div>
    </div>
</div>*@