@using Sitecore.Mvc
@using SitecoreSoftServe.Feature.Content.Models.Abouts;
@using SitecoreSoftServe.Feature.Content.Common;

@model AboutViewModel


@*<div class="about-area mt-95">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="about-container">
                    <h3>
                        @Html.Sitecore().Field(Templates.About.Title.ToString(), Model.Item, new { @class = "editable-text" })
                    </h3>

                    <div>
                        @Html.Sitecore().Field(Templates.About.Text.ToString(), Model.Item, new { @class = "editable-text" })
                    </div>

                    <div>
                        @Html.Sitecore().Field(Templates.About.Link.ToString(), Model.Item, new { @class = "button-default" })
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="about-image-area img-full">
                    @Html.Sitecore().Field(Templates.About.Image.ToString(), Model.Item)
                </div>
            </div>
        </div>
    </div>
</div>*@

@{
    var textColumnClass = Model.IsImageLeftSide ? "col-lg-7 order-lg-2" : "col-lg-7 order-lg-1";
    var imageColumnClass = Model.IsImageLeftSide ? "col-lg-5 order-lg-1" : "col-lg-5 order-lg-2";
}

<div class="about-area mt-95">
    <div class="container">
        <div class="row">
            <!-- Image Section -->
            <div class="@imageColumnClass">
                <div class="about-image-area img-full">
                    @Html.Sitecore().Field(Templates.About.Image.ToString(), Model.Item)
                </div>
            </div>

            <!-- Text Section -->
            <div class="@textColumnClass">
                <div class="about-container">
                    <h3>
                        @Html.Sitecore().Field(Templates.About.Title.ToString(), Model.Item, new { @class = "editable-text" })
                    </h3>

                    <div>
                        @Html.Sitecore().Field(Templates.About.Text.ToString(), Model.Item, new { @class = "editable-text" })
                    </div>

                    <div>
                        @Html.Sitecore().Field(Templates.About.Link.ToString(), Model.Item, new { @class = "button-default" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
